body{
    font-family: sans-serif;
    font-weight: 100;
    background: #ccc;
}
h1{
    text-align: center;
    color: #666;
    text-shadow: 0px 2px 0px #fff;
}

.nombre{
    font-size: 18px;
}

.curso{
    font-style: italic;
    font-size: 13px;
}

.wrapper{
    width: 650px; /* especificamos el ancho del div*/
    margin: 0 auto; /* Para colocar el div en el centro de la pantalla */
    box-shadow: 5px 5px 5px #555; 
    background: #fff;
    border-radius: 15px;
    padding: 10px;
}

.contact-item{
    border-bottom: thin solid #ccc; /* Hace que aparezca una línea separando cada uno de los alumnos*/
    padding: 10px; /* Le añadimos un padding para que haya un poco de separación entre los alumnos */
}